all{
  margin:0;
  padding:0;
  flex: 1;
}
.body{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cards{
  width: 32%;
  height: 60%;
  margin-left: 1%;
  margin-top: 2%;
}
.image {
  width: 80%;
  margin-left: 10%;
}
