all{
  margin:0;
  padding:0;
  flex: 1;
}
.body{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 99vw;
}
.body-small{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80vw;
  margin-left: 15vw;
}
.search{
  margin-top: 5%;
  margin: 5%;

}
.txt-search{
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
.label{
  font-weight: bold;
  font-family: Arial;
  font-size: 16px;
}
p{
  margin-top: 5px;
  font-size: 18px;
}

.body{
  display: flex;
  flex-direction: row;
}
.cards{
  width: 20vw;
  height: 600px;
  margin-left: 3%;
  margin-top: 2%;
}

.cards-expanse{
  width: 5%;
  height: 60%;
  margin-left: 10%;
  margin-top: 4%;
}
.cards:hover{
  box-shadow: 10px 10px 10px #b3b3b3;
  color: #2b63a8;
}


.image {
  width: 80%;
  height: 40vh;
  margin-left: 10%;
}
