<div class="main">
  <div class="flex">
    <div class="qtdOcorrencias">
      <mat-icon>hourglass_empty</mat-icon>
      <p>
        Quantidade de Ocorrencias
        {{ocorrencias.length}}</p>
    </div>
    <div class="qtdOcorrencias">
      <p>Ocorrencias Recentes</p>
       @for(o of ocorrencias; track o.id_ocorrencia){
         @if(o.id_ocorrencia == ocorrencias.length){
           <p>{{o.n_maquina}}</p>
           <p>{{o.tpOcorrencia}}</p>
         }
       }
    </div>
  </div>

  <div echarts [options]="options" [merge]="mergeOptions" class="demo-chart"></div>

</div>
