.main{
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  height: 90vh;
  background-color: #FAFAFA;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px  #918c8c;
}
.flex{
  display: flex;
  flex-direction: row;
}
.qtdOcorrencias{
  width: 200px;
  height: 200px;
  background-color: #d1d5da;
  color: white;
  font-size: 16px;
  font-family: Arial;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0.5px 1px  #918c8c;
}
