/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e4e8; /* Cor de fundo suave */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
